<div id="fullPage">
    <div class="section sec1" data-anchor="home">
        <h1>Welcome</h1>
    </div>
    <div class="section sec2" data-anchor="aboutme">
        <div class="slide">

           {{> about}}
        </div>
        <div class="slide">
            <h1>About Me</h1>
        </div>
        <div class="slide">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="section sec3 " data-anchor="work">
        <div class="projects-title">
            {{!-- <h1>My Projects</h1> --}}
        </div>
        <div class="slide slide1">
            <div class="card-group group1">

            </div>
        </div>
        <div class="slide slide2">
            <div class="card-group group2">

            </div>
        </div>
        <div class="slide slide3">
            <div class="card-group group3">

            </div>
        </div>
    </div>
    <div class="section sec4" data-anchor="contact">
        <h1>Contact Me</h1>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.15/fullpage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    new fullpage('#fullPage', {
        //options here
        licenseKey: 'gplv3-license',
        autoScrolling: true,
        navigation: true,
        anchors: ['section1', 'section2', 'section3', 'section4'],
        navigationTooltips: ['Home', 'About Me', 'Work', 'Contact'],
        showActiveTooltip: true,
        scrollingSpeed: 1000,
        controlArrows: false,
        slidesNavigation: true,
    });
</script>
<script src="./js/index.js"></script>