/* general */
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
}

span {
    background: white !important;
}



.sec1 {
    background: url('../img/apple.jpg');
    background-size: cover;
}

.sec2 {
    background: url('../img/mountain.jpg');
    background-size: cover;
}

.sec3 {
    background: url('../img/ocean.jpg');
    background-size: cover;
}

.sec4 {
    background: url('../img/arch.jpg');
    background-size: cover;
}

/* nav */
@media (max-width: 991px) {
    .navbar-scroll {
        background-color: #fff;
    }

    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
        color: #4f4f4f !important;
    }
}

.navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
}

.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #fff;
}

.navbar-scroll {
    box-shadow: none;
}

.navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #4f4f4f;
}

.navbar-scrolled {
    background-color: #fff;
}

@media (max-width: 450px) {
    #intro {
        height: 950px !important;
    }
}

@media (min-width: 550px) and (max-width: 750px) {
    #intro {
        height: 1100px !important;
    }
}

@media (min-width: 800px) and (max-width: 990px) {
    #intro {
        height: 600px !important;
    }
}

.display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
}

@media (min-width: 1600px) {
    .display-1 {
        font-size: 10rem;
    }
}

/* carousel */

.card-group {
    display: flex;
    justify-content: center;
    margin: 10%;
  }

  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

  /* about me */
  /* #me-img {
    max-width: 400px;
    max-height: 700px;
} */
/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */

#about-section {
    background: rgba(32, 33, 36, 0.1);
    
}

.blockabout {
    padding: 20px;
    background: white;
}

.blockabout-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
    
}

.sosmed-horizontal a i {
    border: 1px solid #070707;
    border-radius: 50%;
    color: #070707;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.rey-btn {
    border: 2px solid #070707;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.3s;
}
